[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
scikit-learn = "*"
streamlit = "*"
requests = "*"
nltk = "*"
python-dotenv = "*"
imdbpy = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"

[scripts]
app = "streamlit run app.py"
